.contenedor-perfil {

    width: 600px;
    height: 500px;
    display: flex;
    background-color: azure;
    place-items: center;
    flex-direction: column;
    margin: auto;


}

.imagen-perfil {

    width: auto;
    height: auto;
    border-radius: 100%;

}

.contenedor-texto-perfil {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    line-height: 1rem;

}

.cargo-perfil {

    font-size: 1rem;

}

.resena-perfil {

    font-size: 1rem;
    text-align: leftS;

}

.boton {

    border: none;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}